/* Using TAG */
        h1{color: rgb(70, 180, 70); background-color: aqua;}
        p{color: rgb(51, 18, 7); font-size: 20px; background-color: coral;}

        /* Using ID */
        #msg1{color: blue;}
        #msg2{color: green;}

        /* Using grouping */
        h1, p, h2{
            font-size: 50px;
        }

        /* Using universal - whole page*/
        *{
            background-color: rgb(206, 245, 246);
        }

        li,u,b,i,mark,del{font-family: 'Times New Roman', Times, serif; }

         #div1{
            border: "1";
            background-color: bisque;
            padding: 50px;
            margin: 100px;
        }

        #div2{
            border: 5px black;
            background-color: cadetblue;
            padding: 50px;
            margin: 100px;
        }
        #div3{
            border: 5px solid black;
            background-color: darkkhaki;
            padding: 100px;
            margin: 100px;
        }
        p{
            padding: 100px;
            font-size: 20px;
        }

       